*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f7f7f7;
}
nav{
    display: flex;
    align-items: center;
    padding: 10px 50px;
    justify-content: space-between;
    border-bottom: 1px solid #151515;
}
nav ul{
    display: flex;
    list-style: none;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    align-items: center;
}
nav ul li{
    padding: 5px 20px;
}
nav ul li a {
    color: #151515;
    text-decoration: none;
}
nav ul li a:hover {
  color: rgb(182, 4, 4);
}
nav ul li button{
    background-color: #151515;
    font-weight: 600;
    color: #fff;
    outline: none;
    border: 0;
    padding: 10px 20px;
}
.title{
    padding: 10px 50px;
}
input[type="text"],input[type="email"],input[type="tel"],input[type="file"], textarea, select{
    width: 100%;
    padding: 10px 5px ;
    border: 1px solid #151515;
}
form{
    padding: 10px 50px;
}

.parent-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.section-50{
    width: 48%;
}
.section-60{
    width: 49%;
}
.btn-primary{
    background-color: #151515;
    font-weight: 600;
    color: #fff;
    outline: none;
    border: 0;
    padding: 10px 20px;
    width: 100%;
}
.align-end{
    align-items: end;
}
input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px; /* Atur margin ke kanan */
}

footer h1{
    text-align: center;
    font-size:20px ;
    font-weight: 500;
    padding: 20px 0;
    color: #828288;
    border-top: 1px solid #151515;
}
.custom-button {
    background-color: #464c53; /* Warna latar belakang tombol */
    color: #fff; /* Warna teks tombol */
    padding: 10px 20px; /* Padding di dalam tombol */
    border: none; /* Tanpa border */
    border-radius: 5px; /* Border radius untuk sudut tombol */
    cursor: pointer; /* Tampilan kursor ketika di atas tombol */
    transition: background-color 0.3s; /* Transisi warna latar belakang saat dihover */
    display: inline-block; /* Menjadikan tombol inline */
  }