body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center; /* Menjadikan tautan berada di tengah secara horizontal */
}

.login-container h2 {
    text-align: center;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.back-link {
    display: block; /* Menjadikan tautan sebagai elemen blok */
    margin-top: 5px; /* Memberi jarak antara tautan dan tombol login */
    text-decoration: none;
    color: black;
    font-size: small;
}
.back-link:hover {
    color: #ccc; /* Menjadikan warna menjadi abu-abu ketika diklik, saat fokus, atau saat mouse hover */
}


@media only screen and (max-width: 500px) {
    .login-container {
        width: 80%;
    }
}